<footer class="g-0 myfooter text-sm">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>About</h5>
        <p>© Foundry Road Pre-School</p>
        <img height="150" class="d-inline-block pb-3" src="img/ofsted.png" alt="Foundry Road Pre-School Logo">
      </div>
      <div class="col-md-4">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="index.html">Home</a></li>
          <li><a href="contact.html">Contact</a></li>
          <li><a href="pricing.html">Pricing</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Contact</h5>
        <ul class="list-unstyled">
          <li><span class="fa-solid fa-phone"></span> 01384 820 012</li>
          <li class="email-add"><span class="fa-solid fa-at"></span>
            foundryroadpreschool@googlemail.com</li>
        </ul>
        <br>
        <div class="container d-flex justify-content-evenly icons">
        <a href="https://www.facebook.com/foundryroadpreschool" target="_blank"><span class="fa-brands fa-facebook fa-2xl" style="display: inline;"></span></a>
        </div>

        <div id="sig">
          <p class="sig">Built by Dan</p>
          <p class="sig">0002</p>
        </div>
      </div>
    </div>
  </div>
</footer>