<!-- <nav class="navbar navbar-light bg-white row">
  <div class="container-fluid">
    <button class="navbar-toggler-sm border-0 bg-white col-4" type="button" data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon mynav-button"></span>
    </button>
    <div class="container col d-flex justify-content-center align-items-center">
      <a class="navbar-brand mx-auto" href="index.html">
        <img height="150" class="d-inline-block align-middle" src="img/foundry_road_logo.png" alt="Foundry Road Pre-School Logo">
      </a>
    </div>
    <button class="btn btn-link ms-auto col" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSearch"
      aria-controls="offcanvasSearch">
      <i class="fas fa-search mynav-button"></i>
    </button>
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel"><b>Menu</b></h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact.html">Contact</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
          </li>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another Action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>

        </ul>
      </div>

      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasSearch" aria-labelledby="offcanvasSearchLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasSearchLabel">Search</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success mybtn" type="submit">Search</button>
          </form>
        </div>
      </div>
    </div>
</nav> -->
<nav class="navbar navbar-light bg-white row">
  <div class="container-fluid">
  <button class="navbar-toggler-sm border-0 bg-white col-4" type="button" data-bs-toggle="offcanvas"
    data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
    <span class="navbar-toggler-icon mynav-button"></span>
  </button>
  <div class="container col d-flex justify-content-center align-items-center">
    <a class="navbar-brand mx-auto" href="index.html">
      <img height="150" class="d-inline-block align-middle" src="img/foundry_road_logo.png"
        alt="Foundry Road Pre-School Logo">
    </a>
  </div>
  <button class="btn btn-link ms-auto col" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSearch"
    aria-controls="offcanvasSearch">
    <i class="fas fa-search mynav-button"></i>
  </button>
  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasNavbarLabel"><b>Menu</b></h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
        <li class="nav-item">
        <a class="nav-link" href="index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contact.html">Contact</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
  
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another Action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
  
    </div>
  </div>
  
  <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasSearch" aria-labelledby="offcanvasSearchLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasSearchLabel">Search</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success mybtn" type="submit">Search</button>
      </form>
    </div>
  </div>
  </div>
  </nav>