/* Main Styles */

@font-face {
  font-family: "MoreSugar";
  src: url("../font/MoreSugar-Thin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MoreSugar";
  src: url("../font/MoreSugar-Regular.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

.row {
  margin-right: 0
}

body,
html {
  height: 100%;
}

body {
  font-family: 'Varela Round', sans-serif;
  color: #353535;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "MoreSugar", sans-serif;
}

.container {
  max-width: 100%;
}

.fa-search {
  color: rgb(132, 130, 130);
}

.mybtn {
  color: #129490;
  border-color: #129490;
}

.mybtn:hover {
  color: white;
  background-color: #129490;
}

.my-greet {
  text-align: center;
  background-color: #ffde59;
  padding: 10%;
}

.myfooter {
  background-color: #ffde59;
  color: #00000091;
  /* bottom: 0; */
  padding: 2% 0 3% 3%;
  margin: 5% 0;
}

h5 {
  font-weight: bold;
}

p, li {
  font-family: 'Varela Round', sans-serif;
  font-size: 1.25rem;
}

.myfooter a {
  color: #00000075;
  text-decoration: underline;
}

.icons {
  margin: 40px 0;
}

hr {
  border-top: 10px solid #ffa51f;
  opacity: 1;
  border-radius: 5px;
  width: 90%;
}

.slide-in-section {
  width: 0;
  border-top: 10px solid #ffa51f;
  transition: width 1s ease;
}

.slide-in-section.is-visible {
  width: 90%;
}

.mytext {
  padding: 5% 5% 0 5%;
}

.info {
  text-align: center;
}

.info hr {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.mymap {
  border-radius: 25px;
  padding-top: 2%;
}

.myicon {
  margin-right: 3%;
}

.image-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
}

.image-wrapper {
  position: relative;
}

.caption {
  position: absolute;
  bottom: 0;
  right: 0;
  color: rgb(66, 66, 66);
  width: 100%;
  padding: 10px;
  text-align: center;
  font-size: 0.6em;
  opacity: 0.8;
}

.caption a {
  color: rgb(66, 66, 66);
}

.mytestimonials {
  margin-top: 7%;
}

.card {
  background-color: #129490; 
  color: white;
  font-size: 1.25rem;
  border: none;
  height: 205px;
  border-radius: 25px;
  padding: 0 3%;
}

#sig {
  padding-top: 5%;
  line-height: 1px;
  text-align: right;
}

.offcanvas,
.offcanvas-title {
  background-color: #ffde59;
  font-size: 2rem;
}

.offcanvas li {
  border-bottom: 2px solid #ffa51f;
}


.nav-link {
  color: #353535;
} 



/* Media Queries */

@media (max-width: 767px) {
  /* Small screens */
  
  .navbar-brand img {
    height: 100px;
  }
  
  .mynav-button {
    font-size: 1.5srem;
  }
  
  .offcanvas,
  .offcanvas-title {
    background-color: #ffde59;
    font-size: 1.5rem;
  }

  .myfooter {
    text-align: center;
  }
  
  .card {
    font-size: 0.8rem;
    margin-bottom: 20px;
    height: 150px;
  }

  .myimg {
    margin-left: 11%;
  }
  
  p, li {
    font-size: 0.8rem;
  }
  
  .mytext {
    padding: 0 5% 5% 5%;
    margin: 0;
  }

  .pt-5 {
    padding-top: 0!important;
  }

  ul {
    margin-top: 15px;
  }

  .mymap {
    width: 90%;
  }

}

@media (min-width: 768px) and (max-width: 991px) {
  /* Medium screens */
  .navbar-brand img {
    height: 150px;
  }
  
    .mynav-button {
      font-size: 2rem;
    }

  .card {
    font-size: 0.8rem;
  }

  .myimg {
    max-width: 92.5%;
    margin-left: 11%;
  }

  p, li {
    font-size: 1rem;
  }

  .email-add {
    font-size: 0.8rem;
  }

}

@media (min-width: 992px) {
  /* Large screens */
  body, h5 {
    font-size: 150%;
  }
  
  .navbar-brand img {
    height: 200px;
  }

  .mynav-button {
    font-size: 2.5rem;
  }
  
  .display-1 {
    font-size: 400%;
  }
  
  /* .mytext {
    margin-left: 5%;
  } */

  .myimg {
    max-width: 92.5%;
  }

  .card {
    height: 210px
  }

}
